.header {
  width: 100%;
  height: 60vh;
  background-color: $darkViolet;

  text-align: left;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__left {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    hr {
      width: 10rem;
    }
    &__title {
      font-size: 4rem;
      line-height: 0.9;
      color: $veryLightGray;
    }

    &__paragraph {
      color: $veryLightGray;
      font-size: 1rem;
    }

    &__button {
      text-transform: uppercase;
      display: block;
      width: 10rem;
      border: none;
      padding: 1rem 1.5rem;
      background-color: transparent;
      color: $veryLightGray;
      border: 1.5px solid #fff;
      cursor: pointer;
    }
    &__svg {
      position: absolute;
      bottom: -23rem;
      left: 0;
    }
  }

  &__right {
    padding: 5rem;
    padding-left: 2rem;
    padding-right: 5rem;

    &__svg {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      height: 80%;
    }

    &__img {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: 50px 160px;
    }
  }
}
